data/empire.db
data/empire-chain.pem
data/empire-priv.key
empire.debug
*.pyc
downloads/*
.vscode/*
.idea/*
*.txt
LastTask*
data/obfuscated_module_source/*.ps1
data/misc/ToObfuscate.ps1
data/misc/Obfuscated.ps1
setup/xar/
setup/bomutils/
.venv
.DS_Store
