urllib3>=1.21.1
requests==2.18.4
setuptools
iptools
pydispatcher
flask
flask_socketio
flask_login
macholib
dropbox
pyOpenSSL==17.2.0
pyinstaller
zlib_wrapper
netifaces
M2Crypto
jinja2
cryptography
pyminifier==2.1
xlutils
pycrypto
